<nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="pagina" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="extra" class="nav-link">Extra</a>
      </li>
      <ul>
        <li>
          <a href="https://www.youtube.com/watch?v=ofH5ptn5w-A" class="nav-link">Trailer de ZELDA</a>
        </li>
        <li class="dropdown-item">
          <a href="https://www.youtube.com/watch?v=rvlwWiskcLk" class="nav-link">Trailer de MINECRAFT</a>
        </li>
        <li class="dropdown-item">
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="nav-link">MISTERIO</a>
        </li>
      </ul>
    </ul>
  </nav>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p>© 2024 Pagina web Jisus. Todos los derechos reservados.</p>
        <nav>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=IcPstITcxGI">Acerca de</a></li>
            <li><a href="https://www.youtube.com/watch?v=IcPstITcxGI">Terminos de servicio</a></li>
            <li><a href="https://www.youtube.com/watch?v=IcPstITcxGI">Politica de privacidad</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>