@font-face {
    font-family: 'The Wild Breath of Zelda';
    src: url('./letras/The\ Wild\ Breath\ of\ Zelda.otf');
}

.navbar {
    top: 0;
    background-color: rgb(22, 139, 160);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    list-style: none;
    display: flex;
}
  
.nav-item {
    margin-right: 10px;
}
  
.nav-link {
    color: rgb(217, 255, 0);
    text-decoration: none;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-family: 'The Wild Breath of Zelda';
    letter-spacing: 1px;
    margin: 10px;
    font-size: 160%;
}

/*FOOTER*/

.footer {
    background-color: rgb(22, 139, 160);
    padding: 20px 0;
    text-align: center;
    font-family: 'The Wild Breath of Zelda';
    color: rgb(217, 255, 0);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-family: 'The Wild Breath of Zelda';
    letter-spacing: 1px;
    font-size: 150%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content nav ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-content nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-content nav ul li:last-child {
    margin-right: 0;
  }
  
  .footer-content nav ul li a {
    font-family: 'The Wild Breath of Zelda';
    color: rgb(217, 255, 0);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-family: 'The Wild Breath of Zelda';
    text-decoration: none;
  }
  
  .footer-content nav ul li a:hover {
    text-decoration: underline;
  }