<main class="main">
    <div>
    <h1 id="titulos">Muertes en Minecraft <br> {{cont}}</h1> 
    </div>
    <div class="container">
      <button id ="boton" (click)="contador()">Iniciar Contador</button>
    </div>
    <br>
    <div>  
        <div>
          <p id="textos">Hola como esta profe.</p>
          <p id="textos">Me llamo Jesus pero usted me dice Palacios jaja y pues la neta no supe que poner aqui.</p>
          <p id="textos">Tons dije pues pongo este texto y edito las letras para que parezcan de <br> MINECRAFT y ZELDA BOTW.</p>
        </div>
        <br>
        
    </div> 
  </main>



